{% extends "base.html" %}
{% block content %}
<h2 class="text-xl font-bold mb-4">Add Destination</h2>

<form method="POST" class="space-y-3">
  <input name="name" placeholder="Destination Name" required class="border p-2 w-full">
  <input name="category" placeholder="Category (Beach, Hill, Cultural)" required class="border p-2 w-full">
  <textarea name="description" placeholder="Description" class="border p-2 w-full"></textarea>
  <input name="lat" placeholder="Latitude" required class="border p-2 w-full">
  <input name="lon" placeholder="Longitude" required class="border p-2 w-full">

  <button class="bg-blue-600 text-white px-4 py-2 rounded">
    Save Destination
  </button>
</form>
{% endblock %}
